/* img{
    float: left;
}
.text{
    clear: both;
} */


 /* .card{
    background-color: #333;
    float: left;
    margin: 5px;
    border: 2px solid #000;
    width: 48%;
    height: 40vh;
    box-shadow: 25px 21px 56px 0px rgba(0,0,0,0.61);    
}
 .card p{
    color: #fff;
} */

/* .main-card{
    display: flex;
}


.main-card .card{
    background-color: #333;


    border: 2px solid #000;
    width: 32%;
    height: 40vh;

}
.main-card .card p{
    color: #fff;
} */


/* body ,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */





@import url('reset.css');

header{
    width: 100%;
    height: 70px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav{
    width: 40%;
}
header nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .login{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* .main-box{

    justify-content: space-evenly;
    align-items: flex-start;
    width: 90%;
    height: 90vh;
    border: 3px solid green;
}

.main-box .box{
    margin: 2px;
    width: 100px;
    height: 100px;
    background-color: red;
    font-size: 50px;
    color: #fff;
} */