header {
    width: 100%;
    height: 70px;
    background-color: black;
}
header *{
    color: aqua;
    display: inline-block;
    font-family: sans-serif;
}
header .logo {
    width: 30%;
}
header .logo h1{
    margin-left: 50%;
    text-transform: uppercase;
}


header nav{
    width: 67%;
}
header nav ul{
    width: 100%;
}

header nav ul li{
    margin-left: 100px;
}
header nav ul li a{
    text-decoration: none;
    font-size: 20px;
    border: 3px solid #fff;
    padding: 4px;
    border-radius: 10px;
}