/* ol li{
    color: red;
} */
/* 
ol>li{
    color: red;
} */

/* tbody:nth-child(3) tr:nth-child(odd){
    background-color: red;
} */


/* .box{
    width: 50%;
    height: 50vh;
    background-color: red;
} */

