/* h1{
    color: red;
    font-size:20px;

}
p{
    color: green
} */

/* li:nth-child(3n-3){
    color: red;
} */

/* .mytext{
    color: red;
}

.newprop{
    background-color: green;
} */

/*
this is comment
*/

/* #myprop-one{
    color: red;
}


#myprop-two{
    color: red;
} */