.modal-backdrop{
    z-index: 0 !important;
}


body {
    margin: 0;
    color: none;
    background: none;
}


.light *{
        color: #000 !important;
        background-color: #fff !important;
}
